*{
    margin: 0;
    padding: 0;
}
ul,li{list-style: none;}
body{
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color:inherit
}
$fontsize : 1.4em;
.none{
    position: absolute;
    left:-9999999px
}
@mixin detail{
    display: flex;
    flex-direction: column;
    gap: 2px;

    li{
        display: flex;
        box-sizing: border-box;
        padding-left: 10px;
        gap:10px;
        background-color: white;
        border: 1px solid black;
        position: relative;
        padding-right: 70px;
        p{ font-size: $fontsize;
            height: 40px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            padding-right: 50px;
            text-overflow: ellipsis;
            box-sizing: border-box;
            &.done,&.donecart{
                text-decoration: line-through;
                color : red;
            }
            &.notdone,&.notdonecart{
                text-decoration: none;
            }
            
        }

        a{
            
                position: absolute;
                right : 15px;
                top:5px;
                font-size: $fontsize;
                &:not(.del){
                    right:75px;
                }
                
           
        }
        // margin-bottom: 15px;
    }
}
.wrap{
    width: min(500px, 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;
    background-color: rgb(248, 243, 236);
    h1{
        margin-bottom: 20px;
    }
    .inputwrap{
        display: flex;
        height: 40px;
        gap : 15px;
        #todo{
            width: calc(100% - 50px);
            padding-left: 10px;
            font-size: $fontsize;
    
        }
        #cart{
            width: calc(100% - 50px);
            padding-left: 10px;
            font-size: $fontsize;
        }
        .pushbtn{
            width: 35px;
        }
        .cartbtn{
            width: 35px;
        }
    }
    form>fieldset{
        border:none;
        legend{
            margin-bottom: 20px;
        }
        margin-bottom: 20px;
    }
    .todotarget,.carttarget{
        // background-color: rgb(248, 222, 189);
        // box-shadow:1px 1px 10px 0px black;

        // padding:5px 0; 
      @include detail;
      margin-bottom:25px;
    }
}
details{
   
 summary{
    margin-bottom: 15px;
    position: relative;
    .alldel { 
        position: absolute;
        right : 10px;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
 }
}